<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title %>
    </title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/home.css" rel="stylesheet">
    <link href='/stylesheets/tablestyle.css' rel='stylesheet'/>
    <script src="/javascripts/spin.min.js"></script>
</head>

<body>
    <% include navbar.html %>
    <% include spinner.html %>
    <script type="text/javascript">
    var allData = {};
    var currencyArray = [];

    function initialPaysCurrency() {
        document.paysBookArgs.currencyPaysSelector.options = null;
        console.log(currencyArray);
        $("#paysIssuerGroup").remove();
        $("#paysBookArgs").append('<div id="paysIssuerGroup"> </div>');
        for (var i = currencyArray.length - 1; i >= 0; i--) {
            var op = new Option(currencyArray[i], currencyArray[i]);
            document.paysBookArgs.currencyPaysSelector.appendChild(op);
            if (op.selected) {
                var issuers = allData[currencyArray[i]];
                for (var j = issuers.length - 1; j >= 0; j--) {
                    $("#paysIssuerGroup").append('<br /><input type="checkbox" name="paysIssuer" value=' + issuers[j] + ' checked="checked" />' + issuers[j]);
                };
            }
        }
    }

    function initialGetsCurrency() {
        document.getsBookArgs.currencyGetsSelector.options = null;
        $("#getsIssuerGroup").remove();
        $("#getsBookArgs").append('<div id="getsIssuerGroup"> </div>');
        for (var i = currencyArray.length - 1; i >= 0; i--) {
            var op = new Option(currencyArray[i], currencyArray[i]);
            document.getsBookArgs.currencyGetsSelector.appendChild(op);
            if (op.selected) {
                var issuers = allData[currencyArray[i]];
                for (var j = issuers.length - 1; j >= 0; j--) {
                    $("#getsIssuerGroup").append('<br /><input type="checkbox" name="getsIssuer" value=' + issuers[j] + ' checked="checked" />' + issuers[j]);
                };
            }
        }
    }

    function getBooksResult() {
        var formData = $("#paysBookArgs").serialize() + "&" + $("#getsBookArgs").serialize() + "&isBookTab=true";
        CustomSpinner.play();
        $.ajax({
            url: '/books/getbooks',
            type: 'get',
            dataType: 'json',
            json: "callback",
            data: formData,
            success: function(data) {
                console.log(data['books']);
                initialBookList(data['books']);
                CustomSpinner.stop();
            },
            error: function(message) {CustomSpinner.stop();}
        });
    }

    function initialBookList(bookArray) {
        $("#bookTable").remove();
        $("#bookList").append('<table id="bookTable" class="reference"><tr><th>Pays value</th><th>Gets value</th><th>Quality</th><th>1/Quality</th></tr>');
        for (var i = 0; i < bookArray.length; i++) {
            var paysIssuer = bookArray[i]['paysIssuer'];
            var paysCurrency = bookArray[i]['paysCurrency'];
            var paysValue = bookArray[i]['paysValue'];

            var getsIssuer = bookArray[i]['getsIssuer'];
            var getsCurrency = bookArray[i]['getsCurrency'];
            var getsValue = bookArray[i]['getsValue'];

            var qualityNew = getsValue / paysValue;
            var quality = bookArray[i]['quality'];
            var offerCreateData = 'paysCurrency=' + getsCurrency + '&paysIssuer=' + getsIssuer + '&paysValue=' + getsValue + '&getsCurrency=' + paysCurrency + '&getsIssuer=' + paysIssuer + '&getsValue=' + paysValue + '&quality=' + qualityNew;

            var paysItem = paysValue + '<br>' + bookArray[i]['paysDomain'];
            var getsItem = getsValue + '<br>' + bookArray[i]['getsDomain'];
            var item = '<tr offerCreateData=' + offerCreateData + ' onClick="bookItemClick(this)"><td title="' + paysIssuer + '"> ' + paysItem + '</td><td title="' + getsIssuer + '">' + getsItem + '</td><td>' + quality + '</td><td>'+qualityNew+'</td></tr>';
            $("#bookTable").append(item);
        }
    }

    function bookItemClick(item) {
        var urlData = $(item).attr('offerCreateData');
        var formatedData = convertOfferDataToJson(urlData);
        var getCapacityData = 'currency=' + formatedData['getsCurrency'] + '&issuer=' + formatedData['getsIssuer'];
        CustomSpinner.play();
        $.ajax({
            url: '/books/getBalance',
            type: 'get',
            dataType: 'json',
            json: "callback",
            data: getCapacityData,
            success: function(data) {
                var capacity = data['result']['value'];
                var balance = parseFloat(capacity);
                CustomSpinner.stop();
                if (balance <= 0) {
                    alert("Doesn't have enough balance");
                } else {
                    showOfferDialog(formatedData, capacity, urlData, item);
                }
            },
            error: function(message) {
                alert('get balance failed');
                CustomSpinner.stop();
            }
        });
    }

    function showOfferDialog(formatedData, capacity, urlData, item) {
        var balance = parseFloat(capacity);
        var getsValue = parseFloat(formatedData['getsValue']);
        var iPaysValue = balance > getsValue ? getsValue : balance;
        var msg = '';
        msg += formatedData['paysValue'] + ' / ' + formatedData['paysCurrency']+ '  (I Gets)\n';
        msg += formatedData['getsValue'] + ' / ' + formatedData['getsCurrency'] + '  (I Pays)\n';
        msg += formatedData['quality'] + '  (Quality)\n';
        msg += balance + '  ( '+ formatedData['getsCurrency'] +'/balance)\n';
        msg += 'I should pays max (' + iPaysValue + ')\n';
        msg += formatedData['getsCurrency'] + ': \n';

        iPaysValue = prompt(msg, iPaysValue);

        if (iPaysValue != null && iPaysValue != "" && iPaysValue > 0) {
            paysValue = parseFloat(iPaysValue);
            formatedData['getsValue'] = paysValue;
            formatedData['paysValue'] = paysValue * formatedData['quality'];
            urlData = convertJsonToOfferData(formatedData);
            CustomSpinner.play();
            $.ajax({
                url: '/books/offercreate',
                type: 'get',
                dataType: 'json',
                json: "callback",
                data: urlData,
                success: function(data) {
                    refreshBookList(item);
                    alert(JSON.stringify(data['status']));
                    CustomSpinner.stop();
                },
                error: function(message) {
                    CustomSpinner.stop();
                }
            });
        }
    }

    function refreshBookList(bookItem) {
        getBooksResult();
    }

    function convertOfferDataToJson(rawData) {
            var offerCreateData = 'paysCurrency=' + getsCurrency + '=paysIssuer=' + getsIssuer + '=paysValue=' + getsValue + '=getsCurrency=' + paysCurrency + '=getsIssuer=' + paysIssuer + '=getsValue=' + paysValue + '=quality=' + qualityNew;
        var ret = {};
        var keyMapData = rawData.split('=');
        ret['paysCurrency'] = keyMapData[1];
        ret['paysIssuer'] = keyMapData[3];
        ret['paysValue'] = keyMapData[5];
        ret['getsCurrency'] = keyMapData[7];
        ret['getsIssuer'] = keyMapData[9];
        ret['getsValue'] = keyMapData[11];
        ret['quality'] = keyMapData[13];
        return ret;
    }

    function convertJsonToOfferData(rawData) {
        var offerCreateData = 'paysCurrency=' + rawData['getsCurrency'] + '&paysIssuer=' + rawData['getsIssuer'] + '&paysValue=' + rawData['getsValue'] + '&getsCurrency=' + rawData['paysCurrency'] + '&getsIssuer=' + rawData['paysIssuer'] + '&getsValue=' + rawData['paysValue'] + '&quality=' + rawData['quality'];
        return offerCreateData;
    }

    $(function() {
        var opts = {length: 20,radius: 30};
        CustomSpinner.play();
        $.ajax({
            url: '/books/getcurrencies',
            type: 'get',
            dataType: 'json',
            json: "callback",
            data: '',
            success: function(data) {
                currencyArray = data['currencies'];
                allData = data['all'];
                initialGetsCurrency();
                initialPaysCurrency();
                getBooksResult();
                CustomSpinner.stop();
            },
            error: function(message) {CustomSpinner.stop();}
        });
        $("#currencyPaysSelector").change(function() {
            var currency = $(this).val();
            $("#paysIssuerGroup").remove();
            $("#paysBookArgs").append('<div id="paysIssuerGroup"> </div>');
            var issuers = allData[currency];
            for (var j = issuers.length - 1; j >= 0; j--) {
                $("#paysIssuerGroup").append('<br /><input type="checkbox" name="paysIssuer" value=' + issuers[j] + ' checked="checked" />' + issuers[j]);
            };
        });
        $("#currencyGetsSelector").change(function() {
            var currency = $(this).val();
            $("#getsIssuerGroup").remove();
            $("#getsBookArgs").append('<div id="getsIssuerGroup"> </div>');
            var issuers = allData[currency];
            for (var j = issuers.length - 1; j >= 0; j--) {
                $("#getsIssuerGroup").append('<br /><input type="checkbox" name="getsIssuer" value=' + issuers[j] + ' checked="checked" />' + issuers[j]);
            };
        });
    });
    </script>
    <div id="container" class="container">
        <div>
            <table>
                <td>
                    <form id="paysBookArgs" name="paysBookArgs">
                        <label>Currency pays:</label>
                        <select id="currencyPaysSelector" name="currencyPaysSelector">
                        </select>
                    </form>
                </td>
                <td>
                    <form id="getsBookArgs" name="getsBookArgs">
                        <label>Currency gets:</label>
                        <select id="currencyGetsSelector" name="currencyGetsSelector">
                        </select>
                    </form>
                </td>
            </table>
        </div>
        <br />
        <input name="" type="button" value="Submit" onClick="getBooksResult()" />
            <h2>Book list</h2>
        <div id="bookList">
        </div>
    </div>
</body>

</html>
