<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title %>
    </title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/home.css" rel="stylesheet">
    <link href='/stylesheets/tablestyle.css' rel='stylesheet'/>
</head>

<body>
    <% include main_template.html %>
    <script type="text/javascript">
    var allData = {};
    var currencyArray = [];

    function initialPaysCurrency() {
        document.paysBookArgs.currencyPaysSelector.options = null;
        console.log(currencyArray);
        $("#paysIssuerGroup").remove();
        $("#paysBookArgs").append('<div id="paysIssuerGroup"> </div>');
        for (var i = currencyArray.length - 1; i >= 0; i--) {
            var op = new Option(currencyArray[i], currencyArray[i]);
            document.paysBookArgs.currencyPaysSelector.appendChild(op);
            if (op.selected) {
                var issuers = allData[currencyArray[i]];
                for (var j = issuers.length - 1; j >= 0; j--) {
                    $("#paysIssuerGroup").append('<br /><input type="checkbox" name="paysIssuer" value=' + issuers[j] + ' checked="checked" />' + issuers[j]);
                };
            }
        }
    }

    function initialGetsCurrency() {
        document.getsBookArgs.currencyGetsSelector.options = null;
        $("#getsIssuerGroup").remove();
        $("#getsBookArgs").append('<div id="getsIssuerGroup"> </div>');
        for (var i = currencyArray.length - 1; i >= 0; i--) {
            var op = new Option(currencyArray[i], currencyArray[i]);
            document.getsBookArgs.currencyGetsSelector.appendChild(op);
            if (op.selected) {
                var issuers = allData[currencyArray[i]];
                for (var j = issuers.length - 1; j >= 0; j--) {
                    $("#getsIssuerGroup").append('<br /><input type="checkbox" name="getsIssuer" value=' + issuers[j] + ' checked="checked" />' + issuers[j]);
                };
            }
        }
    }

    function getBooksResult() {
        var formData = $("#paysBookArgs").serialize() + "&" + $("#getsBookArgs").serialize();
        $.ajax({
            url: '/books/getbooks',
            type: 'get',
            dataType: 'json',
            json: "callback",
            data: formData,
            success: function(data) {
                console.log(data['books']);
                initialBookList(data['books']);
            },
            error: function(message) {}
        });
    }

    function initialBookList(bookArray) {
        $("#bookTable").remove();
        $("#bookList").append('<table id="bookTable" class="reference"><tr><th>Pays value</th><th>Gets value</th><th>Quality</th></tr>');
        for (var i = bookArray.length - 1; i >= 0; i--) {
            var paysIssuer = bookArray[i]['paysIssuer'];
            var paysCurrency = bookArray[i]['paysCurrency'];
            var paysValue = bookArray[i]['paysValue'];

            var getsIssuer = bookArray[i]['getsIssuer'];
            var getsCurrency = bookArray[i]['getsCurrency'];
            var getsValue = bookArray[i]['getsValue'];

            var qualityNew = getsValue / paysValue;
            var quality = bookArray[i]['quality'];
            var offerCreateData = 'paysCurrency=' + getsCurrency + '&paysIssuer=' + getsIssuer + '&paysValue=' + getsValue + '&getsCurrency=' + paysCurrency + '&getsIssuer=' + paysIssuer + '&getsValue=' + paysValue + '&quality=' + qualityNew;

            var item = '<tr value=' + offerCreateData + ' onClick="tableItemClick(this)"><td title="' + paysIssuer + '"> ' + paysValue + '</td><td title="' + getsIssuer + '">' + getsValue + '</td><td>' + quality + '</td></tr>';
            $("#bookTable").append(item);
        }
    }

    function getTxHistoryData() {
        console.log("getTxHistoryData()");
        $.ajax({
            url: '/books/txhistory',
            type: 'get',
            dataType: 'json',
            json: "callback",
            success: function(data) {
                initialTxHistory(data['result']);
            },
            error: function(message) {
                console.log("getTxHistoryData() failed" + message);
            }
        });

    }

    function initialTxHistory(historyData) {
        console.log("initialTxHistory(historyData)");
        $("#txHistoryTable").remove();
        $("#txHistoryList").append('<table id="txHistoryTable" class="reference"><tr><th>P/G currency</th><th>Pays value</th><th>Pays price</th><th>Gets value</th><th>Gets price</th><th>PaysInc</th><th>ProfitRate</th><th>Profit</th></tr>');
        for (var i = historyData.length - 1; i >= 0; i--) {
            var item = '<tr><td>' + historyData[i]['paysCurrencyA'] + '/' + historyData[i]['getsCurrencyA'] + '</td><td>' + historyData[i]['paysValueA'] + '</td><td>' + historyData[i]['priceA'] + '</td><td>' + historyData[i]['getsValueB'] +'</td><td>' + historyData[i]['priceB'] + '</td><td>' + historyData[i]['paysInc'] + '</td><td>' + historyData[i]['profitRate'] + '</td><td>'+historyData[i]['paysCurrencyA']+':'+historyData[i]['profit']+'</td></tr>';
            $("#txHistoryTable").append(item);
        };
    }

    function tableItemClick(args) {
        var urlData = $(args).attr('value');
        if (confirm(getOfferMessage(urlData))) {
            $.ajax({
                url: '/books/offercreate',
                type: 'get',
                dataType: 'json',
                json: "callback",
                data: urlData,
                success: function(data) {
                    alert(JSON.stringify(data['status']));
                },
                error: function(message) {}
            });
        }
    }

    function getOfferMessage(rawData) {
        var result = "Will create offer reverse for: \n";
        return result + rawData;
    }
    $(function() {
        $.ajax({
            url: '/books/getcurrencies',
            type: 'get',
            dataType: 'json',
            json: "callback",
            data: '',
            success: function(data) {
                currencyArray = data['currencies'];
                allData = data['all'];
                initialGetsCurrency();
                initialPaysCurrency();
                getBooksResult();
            },
            error: function(message) {}
        });
        $("#currencyPaysSelector").change(function() {
            var currency = $(this).val();
            $("#paysIssuerGroup").remove();
            $("#paysBookArgs").append('<div id="paysIssuerGroup"> </div>');
            var issuers = allData[currency];
            for (var j = issuers.length - 1; j >= 0; j--) {
                $("#paysIssuerGroup").append('<br /><input type="checkbox" name="paysIssuer" value=' + issuers[j] + ' checked="checked" />' + issuers[j]);
            };
        });
        $("#currencyGetsSelector").change(function() {
            var currency = $(this).val();
            $("#getsIssuerGroup").remove();
            $("#getsBookArgs").append('<div id="getsIssuerGroup"> </div>');
            var issuers = allData[currency];
            for (var j = issuers.length - 1; j >= 0; j--) {
                $("#getsIssuerGroup").append('<br /><input type="checkbox" name="getsIssuer" value=' + issuers[j] + ' checked="checked" />' + issuers[j]);
            };
        });
        getTxHistoryData();

    });
    </script>
    <div id="container">
        <div>
            <table>
                <td>
                    <form id="paysBookArgs" name="paysBookArgs">
                        <label>Currency pays:</label>
                        <select id="currencyPaysSelector" name="currencyPaysSelector">
                        </select>
                    </form>
                </td>
                <td>
                    <form id="getsBookArgs" name="getsBookArgs">
                        <label>Currency gets:</label>
                        <select id="currencyGetsSelector" name="currencyGetsSelector">
                        </select>
                    </form>
                </td>
            </table>
        </div>
        <br />
        <input name="" type="button" value="Submit" onClick="getBooksResult()" />
        <h2>Book list</h2>
        <div id="bookList">
        </div>
        <br>
        <br>
        <h2>Transaction History</h2>
        <div id="txHistoryList"></div>
    </div>
</body>

</html>
