<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Kissingate</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/home.css" rel="stylesheet">
    <link href="/stylesheets/tablestyle.css" rel="stylesheet" />
    <script src="/javascripts/spin.min.js"></script>
</head>

<body>
    <% include navbar.html %>
    <script type="text/javascript">
    function initTxHistoryTable(historyData) {
        $("#historyTable").remove();
        $("#txHistoryList").append('<table id="historyTable" style="overflow-y:scroll" class="reference"><tr><th>Currency</th><th>Pays value</th><th>Gets value</th><th>Quality</th><th>1/Quality</th><th>ProfitRate</th><th>Profit</th></tr>');
        for (var i = historyData.length - 1; i >= 0; i--) {
            console.log("initialTxHistory(historyData)");
            var currencyPairA = historyData[i]['paysCurrencyA'] + '_' + historyData[i]['getsCurrencyA'];
            var currencyPairB = historyData[i]['paysCurrencyB'] + '_' + historyData[i]['getsCurrencyB'];
            var titleItem = '<tr><th>Currency</th><th>Pays value</th><th>Gets value</th><th>Quality</th><th>1/Quality</th><th>ProfitRate</th><th>Profit</th></tr>';
            if (historyData[i]['paysCurrencyA'] !== historyData[i]['getsCurrencyA']) {
                var paysItem = '<tr id="' + currencyPairA + '" value="' + currencyPairA + '" onclick="txHistoryItemClick(this)"><td>' + historyData[i]['paysCurrencyA'] + '->' + historyData[i]['getsCurrencyA'] + '</td><td>' + historyData[i]['paysValueA'] + '</td><td>' + historyData[i]['getsValueA'] + '</td><td>' + historyData[i]['priceA'] + '</td><td>' + 1 / historyData[i]['priceA'] + '</td><td>' + historyData[i]['profitRate'] + '</td><td>' + historyData[i]['paysCurrencyA'] + ':' + historyData[i]['profit'] + '</td></tr>';
                var getsItem = '<tr id="' + currencyPairA + '"value="' + currencyPairB + '" onclick="txHistoryItemClick(this)"><td>' + historyData[i]['paysCurrencyB'] + '->' + historyData[i]['getsCurrencyB'] + '</td><td>' + historyData[i]['paysValueB'] + '</td><td>' + historyData[i]['getsValueB'] + '</td><td>' + historyData[i]['priceB'] + '</td><td>' + 1 / historyData[i]['priceB'] + '</td><td>' + historyData[i]['profitRate'] + '</td><td>' + historyData[i]['paysCurrencyA'] + ':' + historyData[i]['profit'] + '</td></tr>';
                $("#historyTable").append(paysItem);
                $("#historyTable").append(getsItem);
            } else {
                var paysItem = '<tr id="' + currencyPairA + '" value="' + currencyPairA + '" onclick="txHistoryItemClick(this)"><td>' + historyData[i]['paysCurrencyA'] + '->' + historyData[i]['getsCurrencyA'] + '</td><td>' + historyData[i]['paysValueA'] + '</td><td>' + historyData[i]['getsValueA'] + '</td><td>' + historyData[i]['priceA'] + '</td><td></td><td></td><td>' + historyData[i]['paysCurrencyA'] + ':' + historyData[i]['profit'] + '</td></tr>';
                $("#historyTable").append(paysItem);
            }

            if (i > 0)
                $("#historyTable").append(titleItem);
        };

    }

    function getTxHistoryData() {
        console.log("getTxHistoryData()");
        playSpinner();
        $.ajax({
            url: '/books/txhistory',
            type: 'get',
            dataType: 'json',
            json: "callback",
            success: function(data) {
                initTxHistoryTable(data['result']);
                stopSpinner();
            },
            error: function(message) {
                stopSpinner();
                console.log("getTxHistoryData() failed" + message);
            }
        });

    }

    function txHistoryItemClick(item) {
        var itemvalue = $(item).attr('value').split('_');
        var currencyPair = itemvalue[1] + '_' + itemvalue[0] + '_book';
        var key = document.getElementById(currencyPair);
        console.log('txHistoryItemClick: ' + currencyPair);
        if (key) {
            // remove the book
            $(key).remove();
            removeBookList(item);
        } else {
            // add the book
            $("#historyTable").append('<div id="' + currencyPair + '"</div>');
            addBookList(item);
        }
    }

    function addBookList(item) {
        var currencies = $(item).attr('value').split('_');
        var currencyPair = $(item).attr('value');
        var formData = 'currencyPaysSelector=' + currencies[1] + '&' + 'currencyGetsSelector=' + currencies[0];
        console.log('addBookList currencyPair: ' + currencyPair);
        playSpinner();
        $.ajax({
            url: '/books/getbooksbycurrency',
            type: 'get',
            dataType: 'json',
            json: "callback",
            data: formData,
            success: function(data) {
                var books = data['books'];
                var insertCur = getRowCur(currencyPair) + 1;
                for (var i = 0; i < books.length; i++) {
                    addBookItem(books[i], insertCur, item);
                    insertCur++;
                };
                stopSpinner();
            },
            error: function(message) {stopSpinner();}
        });
    }

    function addBookItem(bookData, insertCur, item) {
        var oldQuality = parseFloat(item.cells[3].innerHTML);
        var paysIssuer = bookData['paysIssuer'];
        var paysCurrency = bookData['paysCurrency'];
        var paysValue = bookData['paysValue'];

        var getsIssuer = bookData['getsIssuer'];
        var getsCurrency = bookData['getsCurrency'];
        var getsValue = bookData['getsValue'];

        var qualityNew = getsValue / paysValue;
        var quality = bookData['quality'];
        var offerCreateData = 'paysCurrency=' + getsCurrency + '=paysIssuer=' + getsIssuer + '=paysValue=' + getsValue + '=getsCurrency=' + paysCurrency + '=getsIssuer=' + paysIssuer + '=getsValue=' + paysValue + '=quality=' + qualityNew;
        var currencyPair = paysCurrency + '_' + getsCurrency;
        var itemValue = currencyPair + '_book';
        var table = document.getElementById('historyTable');
        var rowItem = table.insertRow(insertCur);
        var currencyCell = rowItem.insertCell(0);
        var paysValueCell = rowItem.insertCell(1);
        var getsValueCell = rowItem.insertCell(2);
        var qualityValueCell = rowItem.insertCell(3);
        var divQualityValueCell = rowItem.insertCell(4);
        $(rowItem).attr('onclick', 'bookItemClick(this)');
        $(rowItem).attr('value', itemValue);
        $(rowItem).attr('offerCreateData', offerCreateData);
        rowItem.style.backgroundColor = 'yellow';
        currencyCell.innerHTML = paysCurrency + '->' + getsCurrency + '(book)';
        paysValueCell.innerHTML = paysValue + '<br>' + bookData['paysDomain'];
        paysValueCell.title = paysIssuer;
        getsValueCell.innerHTML = getsValue + '<br>' + bookData['getsDomain'];
        getsValueCell.title = getsIssuer;
        qualityValueCell.innerHTML = quality;
        divQualityValueCell.innerHTML = qualityNew;
        if (paysCurrency !== getsCurrency) {
            if (oldQuality * quality < 1)
                qualityValueCell.style.backgroundColor = 'green';
        } else {
            if (quality < 1)
                qualityValueCell.style.backgroundColor = 'green';
        }
    }

    function removeBookList(item) {
        console.log('removeBookList');
        var itemvalue = $(item).attr('value').split('_');
        var currencyPair = itemvalue[1] + '_' + itemvalue[0] + '_book';
        var rows = document.getElementById('historyTable').rows;
        for (var i = 0; i < rows.length; i++) {
            var bookItem = rows[i];
            if (bookItem.attributes.value !== undefined) {
                if ($(bookItem).attr('value') === currencyPair) {
                    $(bookItem).remove();
                    i--;
                }
            }
        };

    }

    function getRowCur(valueKey) {
        var rows = document.getElementById('historyTable').rows;
        for (var i = 0; i < rows.length; i++) {
            var bookItem = rows[i];
            if (bookItem.attributes.value !== undefined) {
                if ($(bookItem).attr('value') === valueKey) {
                    return i;
                }
            }
        };
        return -1;
    }

    function getRowItem(valueKey) {
        var rows = document.getElementById('historyTable').rows;
        for (var i = 0; i < rows.length; i++) {
            var bookItem = rows[i];
            if (bookItem.attributes.value !== undefined) {
                if ($(bookItem).attr('value') === valueKey) {
                    return bookItem;
                }
            }
        };
        return null;
    }

    function bookItemClick(item) {
        var urlData = $(item).attr('offerCreateData');
        var formatedData = convertOfferDataToJson(urlData);
        var getCapacityData = 'currency=' + formatedData['getsCurrency'] + '&issuer=' + formatedData['getsIssuer'];
        playSpinner();
        $.ajax({
            url: '/books/getBalance',
            type: 'get',
            dataType: 'json',
            json: "callback",
            data: getCapacityData,
            success: function(data) {
                var capacity = data['result']['value'];
                var balance = parseFloat(capacity);
                stopSpinner();
                if (balance <= 0) {
                    alert("Doesn't have enough balance");
                } else {
                    showOfferDialog(formatedData, capacity, urlData, item);
                }
            },
            error: function(message) {
                alert('get balance failed');
                stopSpinner();
            }
        });
    }

    function showOfferDialog(formatedData, capacity, urlData, item) {
        var balance = parseFloat(capacity);
        var getsValue = parseFloat(formatedData['getsValue']);
        var iPaysValue = balance > getsValue ? getsValue : balance;
        var msg = '';
        msg += formatedData['paysValue'] + ' / ' + formatedData['paysCurrency']+ '  (I Gets)\n';
        msg += formatedData['getsValue'] + ' / ' + formatedData['getsCurrency'] + '  (I Pays)\n';
        msg += formatedData['quality'] + '  (Quality)\n';
        msg += balance + '  ( '+ formatedData['getsCurrency'] +'/balance)\n';
        msg += 'I should pays max (' + iPaysValue + ')\n';
        msg += formatedData['getsCurrency'] + ': \n';

        iPaysValue = prompt(msg, iPaysValue);

        if (iPaysValue != null && iPaysValue != "" && iPaysValue > 0) {
            paysValue = parseFloat(iPaysValue);
            formatedData['getsValue'] = paysValue;
            formatedData['paysValue'] = paysValue * formatedData['quality'];
            urlData = convertJsonToOfferData(formatedData);
            playSpinner();
            $.ajax({
                url: '/books/offercreate',
                type: 'get',
                dataType: 'json',
                json: "callback",
                data: urlData,
                success: function(data) {
                    refreshBookList(item);
                    alert(JSON.stringify(data['status']));
                    stopSpinner();
                },
                error: function(message) {
                    stopSpinner();
                }
            });
        }
    }

    function refreshBookList(bookItem) {
        var value = $(bookItem).attr('value').split('_');
        var valueKey = value[1] + '_' + value[0];
        var hsItem = getRowItem(valueKey);
        if (hsItem !== null) {
            removeBookList(hsItem);
            addBookList(hsItem);
        }
    }

    function convertOfferDataToJson(rawData) {
        var ret = {};
        var keyMapData = rawData.split('=');
        ret['paysCurrency'] = keyMapData[1];
        ret['paysIssuer'] = keyMapData[3];
        ret['paysValue'] = keyMapData[5];
        ret['getsCurrency'] = keyMapData[7];
        ret['getsIssuer'] = keyMapData[9];
        ret['getsValue'] = keyMapData[11];
        ret['quality'] = keyMapData[13];
        return ret;
    }

    function convertJsonToOfferData(rawData) {
        var offerCreateData = 'paysCurrency=' + rawData['getsCurrency'] + '&paysIssuer=' + rawData['getsIssuer'] + '&paysValue=' + rawData['getsValue'] + '&getsCurrency=' + rawData['paysCurrency'] + '&getsIssuer=' + rawData['paysIssuer'] + '&getsValue=' + rawData['paysValue'] + '&quality=' + rawData['quality'];
        return offerCreateData;
    }

    var spinner;
    function playSpinner() {
        document.addEventListener("click", disableClickEvent, true);
        var target = document.getElementById('spinner');
        spinner.spin(target);
    }

    function stopSpinner() {
        spinner.stop();
        document.removeEventListener("click", disableClickEvent, true);
    }

    function disableClickEvent(e) {
        e.stopPropagation();
    }

    $(function() {
        var opts = {length: 20,radius: 30, top: '50%', left: '50%'};
        spinner = new Spinner(opts);
        getTxHistoryData();
    });
    </script>
    <div >
        <div id="txHistoryList"></div>
        <div id="spinner"></div>
    </div>
</body>

</html>
